
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@100&family=Shizuru&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
    
}
.nowrap{
    white-space: nowrap;
}
.header{

    position: sticky;
    top: 0;
    background-color: transparent;
    height: 80px;
    z-index: 10;
}
.img{
    background: url('./images/theyyam1.webp');
    height: 80vh;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-attachment: fixed;

}
.header_1{
    display: flex;
    flex-direction: column;
}
.header_contact ,.header_social{
    display: flex;
    align-items: flex-end;
}
.header_contact p, .header_social p{ 
    margin-left: 1rem;
    font-size: small;
    color: whitesmoke;

}
.header_content_1{
    background-color: rgb(0, 2, 2);
    width: 100%;
    display: flex;
    justify-content: space-evenly ;
}
.header_social{
   margin-right: 2rem;
}
.header_social p{
    cursor: pointer;
}
.logo{
    width: 13vh;
}
.logo img{
    width: 100%;
    height: auto;
}
.header_content_2{
    border-bottom: 1px solid #333;
}
.bold{
    font-size: medium;
    font-weight: 500;
    margin: .3rem;
}
.corousal{
    width: 100%;
    height: 77vh;
}

.item1{
    width: 100%;
    height: 100%;
    background: url('./images/Beach.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transform: scale(1);
    transition: 5s ease-in-out;

    animation-name: zoom;
    animation-duration: 15s;
    animation-iteration-count: 1; /* Optionally, repeat the animation */
}
.item2{
    width: 100%;
    height: 100%;
    background: url('./images/Boating.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transform: scale(1);
    transition: 5s ease-in-out;

    animation-name: zoom;
    animation-duration: 15s;
    animation-iteration-count: 1; /* Optionally, repeat the animation */
}
.item3{
    width: 100%;
    height: 100%;
    background: url('./images/Wayanad.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transform: scale(1);
    transition: 5s ease-in-out;

    animation-name: zoom;
    animation-duration: 15s;
    animation-iteration-count: 1; /* Optionally, repeat the animation */
}
.item4{
    width: 100%;
    height: 100%;
    background: url('./images/Munnar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transform: scale(1);
    transition: 5s ease-in-out;

    animation-name: zoom;
    animation-duration: 15s;
    animation-iteration-count: 1; /* Optionally, repeat the animation */
}
.item5 {
    width: 100%;
    height: 100%;
    background-image: url('./images/WaterFalls.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transform: scale(1);

    animation-name: zoom;
    animation-duration: 25s; 
    animation-timing-function: linear;
    animation-iteration-count: 1; /* Optionally, repeat the animation */
}
.item6 {
    width: 100%;
    height: 100%;
    background-image: url('./images/Mountains.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transform: scale(1);

    animation-name: zoom;
    animation-duration: 25s; 
    animation-timing-function: linear;
    animation-iteration-count: 1; /* Optionally, repeat the animation */
}
.notification-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
}
.notification p{
    margin-left: 2rem;
}
.mal{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.7rem;
}
.notification{
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    transform: translateX(2000px);

    animation-name: slide;
    animation-duration: 25s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide {
    from{
        transform: translateX(2000px);
    }
    to{
        transform: translateX(-2000px);
    }
}
@keyframes zoom {
    from {
        transform: scale(1.20);
    }
    to {
        transform: scale(1);
    }
}
.caption{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    font-family: Shizuru;
}
.caption h1{
    font-style: italic;
    font-family: Bebas Neue;
    font-size: 3rem;
    font-size: 50px; 
    font-weight: 900;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.484);
    color: rgba(252, 252, 252, 0.679);
}
.caption-content{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caption-content button{
    width: 20%;
    padding: .5rem;
    border: none;
    cursor: pointer;
    background-color: darkred;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.caption-content button:hover{
   background-color: rgba(5, 5, 5, 0.975);
   color: whitesmoke;
}
.try{
    height: 100px;
    width: 100%;
    background-color: aqua;
}
.header2_content{
    display: flex;
    justify-content: space-around
}
.navigations nav{
    font-family: Pacifico;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
}
.navigations a,.navigations a:active, .navigations a:visited , .navigations a::before , .navigations a::after{
    text-decoration: none;
    color: #000;
}
.navigations li{
    transition: 1s ease-in-out;
    margin: 1rem;
    cursor: pointer;
}
.navigations nav li:hover{
    transform: scale(1.06);
    border-bottom: 3px solid #333;
}
.header2{
    background-color: rgba(214, 204, 204, 0.759);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 5px rgb(103, 35, 35);
}
.destination{
    height: 190vh;
    width: 100%;
}

.map svg{
    margin-left: 1rem;
    height: 1000px;
}
.destination{
  
    width: 100%;
    height: auto;
}
.place{
    display: flex;
    margin: 2rem;
    color: rgb(0, 0, 0);
    flex-direction: column;

}
.places{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 3rem;
    border: 1px solid #333;
    overflow: hidden;
}
.place h1{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-align: center;
}
.place h1:hover{
    background-color: aqua;
}
.place-container1, .place-container2{
    display: flex;
}
.place-container2{
    display: none;
}
.place{
    border: 1px solid #333;
    padding: 2rem;
}
#slide1,#slide2,#slide3,#slide4,#slide5,#slide6{
    display: none;
}
.map img{
    cursor: pointer;
}
.Districts{
    display: flex;
    justify-content: space-evenly;
}
.district a:visited, .district a{
    color: #000;
    text-decoration: none;
    font-family: roboto;
}
.district a:hover{
    color: red;
}
.district-content{
    font-family: monospace;
}